<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="margin-bottom:50px">Activity</h2>
                    <!-- <h3 class="section-subheading text-muted">주요 활동</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            {% for post in site.posts %}
                                {% if post.category == "Activity" and post.modal-id == 1 %}
                                    <a href="#{{ post.category }}-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                                        <div class="timeline-image">
                                            <img class="img-circle img-responsive" src="img/about/seminar.png" alt="" style="border-radius: 0%;">
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>세미나</h4>
                                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">팀 당 한 명씩 주제를 정해 발표를 하며, 실습 사이트 write-up 또한 발표한다.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            {% for post in site.posts %}
                                {% if post.category == "Activity" and post.modal-id == 2 %}
                                    <a href="#{{ post.category }}-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                                        <div class="timeline-image">
                                            <img class="img-circle img-responsive" src="img/about/report.png" alt="" style="border-radius: 0%;">
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>분석 보고서</h4>
                                    <!-- <h4 class="subheading">An Agency is Born</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">CTF와 같은 해킹 문제를 풀고, 분석 보고서를 작성한다.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            {% for post in site.posts %}
                                {% if post.category == "Activity" and post.modal-id == 3 %}
                                    <a href="#{{ post.category }}-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                                        <div class="timeline-image">
                                            <img class="img-circle img-responsive" src="img/about/project.png" alt="" style="border-radius: 0%;">
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>연간 프로젝트</h4>
                                    <!-- <h4 class="subheading">Transition to Full Service</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">동아리원의 연간 프로젝트 수행 계획 및 과정 그리고 <br>결과를 살펴볼 수 있다.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>