 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    {% if post.category == "Introduction" %}
        <div class="portfolio-modal modal fade" id="{{ post.category }}-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>{{ post.title }}</h2>
                                <hr class="star-primary">
                                <img src="img/introduction/{{ post.img }}" class="img-responsive img-centered" alt="image-alt">
                                {{ post.content }}   <!-- <p>{{ post.description }}</p> -->
                                <br>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% elsif post.category == "Notice" %}
        <div class="portfolio-modal modal fade" id="{{ post.category }}-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>{{ post.title }}</h2>
                                <hr class="star-primary">
                                {{ post.content }}   <!-- <p>{{ post.description }}</p> -->
                                <br>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% elsif post.category == "Activity" %}
        <div class="portfolio-modal modal fade" id="{{ post.category }}-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>{{ post.title }}</h2>
                                <hr class="star-primary">
                                {{ post.content }}   <!-- <p>{{ post.description }}</p> -->
                                <br>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

<style>  
    .mytable {
    	border-collapse: collapse;
    	border-top: 1px solid black;
        border-left: 1px solid black;
        font-size: 20px;
    }  

    .mytable th, .mytable td {
    	border-bottom: 1px solid black;
    	border-right: 1px solid black;
    }

    .portfolio-modal a {
        color: green;
    }
</style>