<!DOCTYPE html>
<html>

  {% if page.isindex %}

    {% include head.html %}
    <body id="page-top" class="index"></body>
    {% include header.html %}
    {% include services.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>

    {% else %}
      {{ content }}
    {% endif %}  
</html>